<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/cr_elements/icons.html">
<link rel="import" href="chrome://resources/cr_elements/paper_button_style_css.html">
<link rel="import" href="chrome://resources/cr_elements/shared_vars_css.html">
<link rel="import" href="chrome://resources/html/cr.html">
<link rel="import" href="chrome://resources/html/i18n_behavior.html">
<link rel="import" href="chrome://resources/html/util.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-a11y-announcer/iron-a11y-announcer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-icon/iron-icon.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="../navigation_behavior.html">
<link rel="import" href="bookmark_proxy.html">
<link rel="import" href="chooser_shared_css.html">
<link rel="import" href="i18n_setup.html">
<link rel="import" href="module_metrics_proxy.html">
<link rel="import" href="step_indicator.html">

<dom-module id="app-chooser">
  <template>
    <style include="chooser-shared-css paper-button-style">
      :host {
        display: block;
        white-space: nowrap;
      }

      .button-bar {
        margin-top: 4rem;
      }

      .option {
        -webkit-appearance: none;
        align-items: center;
        border-radius: 8px;
        box-sizing: border-box;
        display: inline-flex;
        font-family: inherit;
        height: 7.5rem;
        justify-content: center;
        outline: 0;
        position: relative;
        transition-duration: 500ms;
        transition-property: box-shadow;
        vertical-align: bottom;
        width: 6.25rem;
      }

      .option:not(:first-of-type) {
        margin-inline-start: 1.5rem;
      }

      .option[active] {
        border: 1px solid var(--cr-checked-color);
        color: var(--cr-checked-color);
        font-weight: 500;
      }

      .option.keyboard-focused:focus {
        outline: var(--navi-keyboard-focus-color) solid 3px;
      }

      .option-name {
        flex-grow: 0;
        line-height: 1.25rem;
        text-align: center;
        white-space: normal;
      }

      .option-icon {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 2rem;
        margin: auto;
        width: 2rem;
      }

      .option-icon-shadow {
        background-color: var(--navi-option-icon-shadow-color);
        border-radius: 50%;
        display: flex;
        height: 3rem;
        margin-bottom: .25rem;
        width: 3rem;
      }

      .option iron-icon {
        --iron-icon-fill-color: var(--cr-card-background-color);
        background: var(--navi-check-icon-color);
        border-radius: 50%;
        display: none;
        height: .75rem;
        margin: 0;
        position: absolute;
        right: .375rem;
        top: .375rem;
        width: .75rem;
      }

      :host-context([dir=rtl]) .option iron-icon {
        left: .375rem;
        right: unset;
      }

      .option.keyboard-focused:focus iron-icon[icon='cr:check'],
      .option:hover iron-icon[icon='cr:check'],
      .option[active] iron-icon[icon='cr:check'] {
        display: block;
      }

      .option[active] iron-icon[icon='cr:check'] {
        background: var(--cr-checked-color);
      }

      /* App Icons */
      .gmail {
        content: -webkit-image-set(
            url(chrome://welcome/images/gmail_1x.png) 1x,
            url(chrome://welcome/images/gmail_2x.png) 2x);
      }

      .yahoo {
        background-image: -webkit-image-set(
            url(chrome://welcome/images/yahoo_1x.png) 1x,
            url(chrome://welcome/images/yahoo_2x.png) 2x);
      }

      .aol {
        background-image: -webkit-image-set(
            url(chrome://welcome/images/aol_1x.png) 1x,
            url(chrome://welcome/images/aol_2x.png) 2x);
      }

      .icloud {
        background-image: -webkit-image-set(
            url(chrome://welcome/images/icloud_1x.png) 1x,
            url(chrome://welcome/images/icloud_2x.png) 2x);
      }

      .outlook {
        background-image: -webkit-image-set(
            url(chrome://welcome/images/outlook_1x.png) 1x,
            url(chrome://welcome/images/outlook_2x.png) 2x);
      }

      .youtube {
        content: -webkit-image-set(
            url(chrome://welcome/images/youtube_1x.png) 1x,
            url(chrome://welcome/images/youtube_2x.png) 2x);
      }

      .maps {
        content: -webkit-image-set(
            url(chrome://welcome/images/maps_1x.png) 1x,
            url(chrome://welcome/images/maps_2x.png) 2x);
      }

      .translate {
        content: -webkit-image-set(
            url(chrome://welcome/images/translate_1x.png) 1x,
            url(chrome://welcome/images/translate_2x.png) 2x);
      }

      .news {
        content: -webkit-image-set(
            url(chrome://welcome/images/news_1x.png) 1x,
            url(chrome://welcome/images/news_2x.png) 2x);
      }

      .web-store {
        content: -webkit-image-set(
            url(chrome://welcome/images/chrome_store_1x.png) 1x,
            url(chrome://welcome/images/chrome_store_2x.png) 2x);
      }
    </style>

    <template is="dom-repeat" items="[[appList_]]">
      <button active$="[[item.selected]]"
          aria-pressed$="[[getAriaPressed_(item.selected)]]"
          on-click="onAppClick_" on-pointerdown="onAppPointerDown_"
          on-keyup="onAppKeyUp_" class="option">
        <div class="option-icon-shadow">
          <div class$="[[item.icon]] option-icon"></div>
        </div>
        <div class="option-name">[[item.name]]</div>
        <iron-icon icon="cr:check"></iron-icon>
      </button>
    </template>

    <div class="button-bar">
      <paper-button id="noThanksButton" on-click="onNoThanksClicked_">
        $i18n{skip}
      </paper-button>
      <step-indicator model="[[indicatorModel]]"></step-indicator>
      <paper-button class="action-button" disabled$="[[!hasAppsSelected_]]"
          on-click="onGetStartedClicked_">
        $i18n{next}
        <iron-icon icon="cr:chevron-right"></iron-icon>
      </paper-button>
    </div>
  </template>
  <script src="app_chooser.js"></script>
</dom-module>
