<link rel="import" href="../html/polymer.html">

<link rel="import" href="chrome://resources/polymer/v1_0/paper-styles/color.html">

<!-- Common css variables for Material Design WebUI. -->
<custom-style>
<style is="custom-style">
  html {
    --google-blue-50-rgb: 232, 240, 254;  /* #e8f0fe */
    --google-blue-50: rgb(var(--google-blue-50-rgb));
    --google-blue-600-rgb: 26, 115, 232;
    --google-blue-600: rgb(var(--google-blue-600-rgb));
    --google-blue-900-rgb: 13, 71, 161;

    --google-grey-200-rgb: 232, 234, 237;  /* #e8eaed */
    --google-grey-200: rgb(var(--google-grey-200-rgb));
    --google-grey-400-rgb: 189, 193, 198;  /* #bdc1c6 */
    --google-grey-400: rgb(var(--google-grey-400-rgb));
    --google-grey-600-rgb: 128, 134, 139;
    --google-grey-600: rgb(var(--google-grey-600-rgb));
    --google-grey-800-rgb: 60, 64, 67;
    --google-grey-800: rgb(var(--google-grey-800-rgb));
    --google-grey-900-rgb: 32, 33, 36;  /* #202124 */
    --google-grey-900: rgb(var(--google-grey-900-rgb));

    --google-red-600-rgb: 217, 48, 37;  /* #d93025 */
    --google-red-600: rgb(var(--google-red-600-rgb));

    /* -refresh differentiate from polymer's color.html. */
    --google-blue-refresh-100-rgb: 210, 227, 252;  /* #d2e3fc */
    --google-blue-refresh-100: rgb(var(--google-blue-refresh-100-rgb));
    --google-blue-refresh-300-rgb: 138, 180, 248;  /* #8ab4f8 */
    --google-blue-refresh-300: rgb(var(--google-blue-refresh-300-rgb));
    --google-blue-refresh-500-rgb: 66, 133, 244;  /* #4285f4 */
    --google-blue-refresh-500: rgb(var(--google-blue-refresh-500-rgb));

    --google-green-refresh-300-rgb: 129, 201, 149;  /* #81c995 */
    --google-green-refresh-300: rgb(var(--google-green-refresh-300-rgb));
    --google-green-refresh-700-rgb: 24, 128, 56;  /* #188038 */
    --google-green-refresh-700: rgb(var(--google-green-refresh-700-rgb));

    --google-grey-refresh-100-rgb: 241, 243, 244;  /* #f1f3f4 */
    --google-grey-refresh-100: rgb(var(--google-grey-refresh-100-rgb));
    --google-grey-refresh-300-rgb: 218, 220, 224;  /* #dadce0 */
    --google-grey-refresh-300: rgb(var(--google-grey-refresh-300-rgb));
    --google-grey-refresh-500-rgb: 154, 160, 166;  /* #9aa0a6 */
    --google-grey-refresh-500: rgb(var(--google-grey-refresh-500-rgb));
    --google-grey-refresh-700-rgb: 95, 99, 104;  /* #5f6368 */
    --google-grey-refresh-700: rgb(var(--google-grey-refresh-700-rgb));

    --google-red-refresh-300-rgb: 242, 139, 130;  /* #f28b82 */
    --google-red-refresh-300: rgb(var(--google-red-refresh-300-rgb));

    --google-yellow-refresh-300-rgb: 253, 214, 51;  /* #fdd633 */
    --google-yellow-refresh-300: rgb(var(--google-yellow-refresh-300-rgb));

    --cr-primary-text-color: var(--google-grey-900);
    --cr-secondary-text-color: var(--google-grey-refresh-700);

    --cr-card-background-color: white;
    --cr-card-shadow-color-rgb: var(--google-grey-800-rgb);

    --cr-card-shadow: rgba(var(--cr-card-shadow-color-rgb), .3) 0 1px 2px 0,
                      rgba(var(--cr-card-shadow-color-rgb), .15) 0 1px 3px 1px;

    --cr-card-elevation: {
      box-shadow: var(--cr-card-shadow);
    }

    --cr-checked-color: var(--google-blue-600);
    --cr-focused-item-color: var(--google-grey-300);
    --cr-form-field-label-color: var(--google-grey-refresh-700);
    --cr-link-color: var(--google-blue-700);
    --cr-menu-background-color: white;
    --cr-menu-background-focus-color: var(--google-grey-200);
    --cr-menu-shadow: 0 2px 6px var(--paper-grey-500);
    --cr-separator-color: rgba(0, 0, 0, .06);
    --cr-title-text-color: rgb(90, 90, 90);
    --cr-toggle-color: var(--google-blue-500);
  }

  html[dark] {
    --cr-primary-text-color: var(--google-grey-200);
    --cr-secondary-text-color: var(--google-grey-refresh-500);

    --cr-card-background-color: var(--google-grey-900);
    --cr-card-shadow-color-rgb: 0, 0, 0;

    --cr-card-elevation: {
      /* This gradient intentionally uses the same from/to colors to add 4%
       * white on top of an opaque background-color. */
      background-image: linear-gradient(rgba(255, 255, 255, .04),
                                        rgba(255, 255, 255, .04));
      box-shadow: var(--cr-card-shadow);  /* Uses --cr-card-shadow-color-rgb. */
    }

    --cr-checked-color: var(--google-blue-refresh-300);
    --cr-form-field-label-color: var(--dark-secondary-color);
    --cr-link-color: var(--google-blue-refresh-300);
    --cr-menu-background-color: var(--google-grey-900);
    --cr-menu-background-focus-color: rgba(var(--google-grey-800-rgb), .6);
    --cr-menu-background-sheen: rgba(255, 255, 255, .06);  /* Only dark mode. */
    --cr-menu-shadow: rgba(0, 0, 0, .3) 0 1px 2px 0,
                      rgba(0, 0, 0, .15) 0 3px 6px 2px;
    --cr-separator-color: rgba(255, 255, 255, .1);
    /* TODO(dbeam): --cr-toggle-color (CrOS only). */
    --cr-title-text-color: var(--cr-primary-text-color);
  }

  /* Don't use color values past this point. Instead, create a variable that's
   * set for both light and dark modes and use a single variable below. */

  html {
    --cr-actionable: {
      cursor: pointer;
    }

    --cr-button-edge-spacing: 12px;
    --cr-button-height: 32px;

    /* Spacing between policy (controlledBy) indicator and control. */
    --cr-controlled-by-spacing: 24px;

    /* Default max-width for input fields */
    --cr-default-input-max-width: 264px;

    /* The inner icon is 20px in size. The button has 8px * 2 padding. */
    --cr-icon-ripple-size: 36px;
    --cr-icon-ripple-padding: 8px;

    --cr-icon-size: 20px;

    --cr-icon-height-width: {
      height: var(--cr-icon-size);
      width: var(--cr-icon-size);
    }

    --cr-icon-button-margin-start: 16px;

    --cr-icon-ripple-margin: calc(var(--cr-icon-ripple-padding) * -1);

    /* Common properties for WebUI pages. */
    --cr-page-host: {
      color: var(--cr-primary-text-color);
      line-height: 154%; /* Apply 20px default line-height to all text. */
      overflow: hidden;  /* Prevent double scroll bar bugs. */
      user-select: text;
    }

    --cr-paper-icon-button-margin: {
      /* Shift button so ripple overlaps the end of the row. */
      margin-inline-end: var(--cr-icon-ripple-margin);
      margin-inline-start: var(--cr-icon-button-margin-start);
    }

    --cr-primary-text: {
      color: var(--cr-primary-text-color);
      line-height: 154%;  /* 20px. */
    }

    --cr-secondary-text: {
      color: var(--cr-secondary-text-color);
      font-weight: 400;
    }

    /* TODO (johntlee): re-implement with paddings instead; */
    /* These are used for row items such as radio buttons, check boxes, list
     * items etc. */
    --cr-section-min-height: 48px;
    --cr-section-two-line-min-height: 64px;
    --cr-section-three-line-min-height: 84px;

    --cr-section-padding: 20px;
    --cr-section-vertical-padding: 12px;
    --cr-section-indent-width: 40px;
    --cr-section-indent-padding: calc(
        var(--cr-section-padding) + var(--cr-section-indent-width));

    --cr-section: {
      align-items: center;
      border-top: var(--cr-separator-line);
      display: flex;
      min-height: var(--cr-section-min-height);
      padding: 0 var(--cr-section-padding);
    }

    --cr-section-vertical-margin: 21px;

    --cr-centered-card-max-width: 680px;
    --cr-centered-card-container: {
      box-sizing: border-box;
      display: block;
      height: inherit;
      margin: 0 auto;
      max-width: calc(var(--cr-centered-card-max-width) + 3 * 2px);
      min-width: 550px;
      position: relative;
      width: 96%;
    }

    --cr-card-external-title: {
        color: var(--cr-primary-text-color);
        font-size: 108%;
        font-weight: 400;
        letter-spacing: .25px;
        margin-bottom: 12px;
        margin-top: var(--cr-section-vertical-margin);
        padding-bottom: 4px;
        padding-top: 8px;
    }

    --cr-text-elide: {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    --cr-title-text: {
      color: var(--cr-title-text-color);
      font-size: 107.6923%;  /* Go to 14px from 13px. */
      font-weight: 500;
    }

    --cr-tooltip: {
      font-size: 92.31%;  /* Effectively 12px if the host default is 13px. */
      font-weight: 500;
      max-width: 330px;
      min-width: 200px;
      padding: 10px 8px;
    }

    --cr-selectable-focus: {
      background-color: var(--cr-focused-item-color);
      outline: none;
    }
    --cr-separator-height: 1px;
    --cr-separator-line: var(--cr-separator-height) solid
        var(--cr-separator-color);

    --cr-toolbar-overlay-animation-duration: 150ms;

    --cr-container-shadow-height: 6px;
    --cr-container-shadow-margin: calc(-1 * var(--cr-container-shadow-height));
    --cr-container-shadow: {
      box-shadow: inset 0 5px 6px -3px rgba(0, 0, 0, .4);
      height: var(--cr-container-shadow-height);
      left: 0;
      margin-bottom: var(--cr-container-shadow-margin);
      opacity: 0;
      pointer-events: none;
      position: relative;
      right: 0;
      top: 0px;
      transition: opacity 500ms;
      z-index: 1;
    }

    --cr-container-shadow-max-opacity: 1;

    /** MD Refresh Styles */
    --cr-card-border-radius: 4px;
    --cr-disabled-opacity: .38;
    --cr-form-field-bottom-spacing: 16px;
    --cr-form-field-label-font-size: .625rem;
    --cr-form-field-label-height: 1em;
    --cr-form-field-label-line-height: 1em;
    --cr-form-field-label: {
      color: var(--cr-form-field-label-color);
      display: block;
      font-size: var(--cr-form-field-label-font-size);
      font-weight: 500;
      letter-spacing: .4px;
      line-height: var(--cr-form-field-label-line-height);
      margin-bottom: 8px;
    }
  }
</style>
</custom-style>
