<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/cr_elements/cr_dialog/cr_dialog.html">
<link rel="import" href="chrome://resources/html/assert.html">
<link rel="import" href="chrome://resources/html/cr.html">
<link rel="import" href="item_behavior.html">
<link rel="import" href="navigation_helper.html">

<dom-module id="extensions-options-dialog">
  <template>
    <style>
      #icon {
        height: 32px;
        margin-inline-end: 10px;
        width: 32px;
      }

      #icon-and-name-wrapper {
        align-items: center;
        display: flex;
      }

      ExtensionOptions {
        display: block;
        height: 100%;
        overflow: hidden;
      }

      cr-dialog {
        --scroll-border: 0;
        --cr-dialog-body: {
          height: 100%;
          padding-bottom: 0;
          padding-inline-end: 0;
          padding-inline-start: 0;
          padding-top: 0;
        };

        --cr-dialog-wrapper: {
          height: 100%;
          max-height: initial;
          overflow: hidden;
        };

        --cr-dialog-body-container: {
          height: 100%;
          min-height: initial;
        };

        --cr-dialog-body-border-bottom: none;
        --cr-dialog-body-border-top: none;

        --cr-dialog-native: {
          opacity: 0;
          /* When loading, it's possible for an size update to follow after the
             initial size update. The debounce time on size updates is 50ms.
             A 100ms delay for the opacity transition will allow two updates to
             occur without showing the dialog resizing to the user. */
          transition: opacity 100ms ease 100ms;
        };
      }
    </style>

    <cr-dialog id="dialog" close-text="$i18n{close}"
        on-close="onClose_" show-close-button>
      <div slot="title">
        <div id="icon-and-name-wrapper">
          <img id="icon" src="[[data_.iconUrl]]"
              alt$="[[appOrExtension(
                  data.type,
                  '$i18nPolymer{appIcon}',
                  '$i18nPolymer{extensionIcon}')]]">
          <span>[[data_.name]]</span>
        </div>
      </div>
      <div slot="body" id="body">
      </div>
    </cr-dialog>
  </template>
  <script src="options_dialog.js"></script>
</dom-module>
