<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/cr_elements/hidden_style_css.html">
<link rel="import" href="chrome://resources/html/cr.html">
<link rel="import" href="../data/destination.html">
<link rel="import" href="print_preview_shared_css.html">
<link rel="import" href="throbber_css.html">

<dom-module id="print-preview-link-container">
  <template>
    <style include="print-preview-shared throbber cr-hidden-style">
      :host {
        display: block;
      }

      :host paper-icon-button-light {
        --cr-paper-icon-button-margin: {
          margin-inline-end: -2px;
          margin-inline-start: 0;
        };
        --cr-icon-size: 16px;
        --cr-icon-ripple-size: 28px;
      }

      .link:not([actionable]) {
        pointer-events: none;
      }

      .throbber {
        margin: 8px;
        min-height: 16px;
        min-width: 16px;
      }

      .link {
        align-items: center;
        display: flex;
        min-height: 46px;
        padding: 0 19px;
      }

      #systemDialogLink {
        padding-top: 0.5em;
      }

      .label {
        flex: 1;
      }

      .link:not([actionable]) .label {
        color: var(--paper-grey-600);
        opacity: .65;
      }
    </style>
    <div class="link" id="systemDialogLink"
         actionable$="[[!systemDialogLinkDisabled_]]"
         hidden$="[[!shouldShowSystemDialogLink_]]"
         on-click="onSystemDialogClick_">
      <div class="label">$i18n{systemDialogOption}</div>
      <paper-icon-button-light actionable class="icon-external"
          hidden$="[[openingSystemDialog_]]">
        <button disabled="[[systemDialogLinkDisabled_]]"
            aria-label="$i18n{systemDialogOption}">
        </button>
      </paper-icon-button-light>
      <div id="systemDialogThrobber" hidden$="[[!openingSystemDialog_]]"
          class="throbber"></div>
    </div>
<if expr="is_macosx">
    <div class="link" id="openPdfInPreviewLink" actionable$="[[!disabled]]"
        on-click="onOpenInPreviewClick_">
      <div class="label">$i18n{openPdfInPreviewOption}</div>
      <paper-icon-button-light actionable class="icon-external"
          hidden$="[[openingInPreview_]]">
        <button disabled="[[disabled]]"
            aria-label="$i18n{openPdfInPreviewOption}">
        </button>
      </paper-icon-button-light>
      <div id="openPdfInPreviewThrobber" hidden$="[[!openingInPreview_]]"
          class="throbber"></div>
    </div>
</if>
  </template>
  <script src="link_container.js"></script>
</dom-module>
